.option{
    width: 30%;
}
body{
    opacity: 1.5;
    z-index: 0;
}
.back{
    float: left;
    margin-left: 30px;
    font-size: 35px;
}
canvas{
    margin-top: 50px;
}
.heading{
    width: 100%;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    font-style: oblique;
}